name: Tests

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++

    - name: Configure
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug

    - name: Build
      run: |
        cmake --build build -j4

    - name: Run tests
      run: |
        cd build/tests
        ./wiseio_tests
    - name: Configure (ASan)
      run: |
        cmake -S . -B build \
        -DCMAKE_BUILD_TYPE=Debug \
        -DCMAKE_CXX_FLAGS="-fsanitize=address -fno-omit-frame-pointer" \
        -DCMAKE_EXE_LINKER_FLAGS="-fsanitize=address"

